@font-face {
  font-family: "iconfont"; /* Project id 3249309 */
  src: url('iconfont.ttf?t=1651052348655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen-line:before {
  content: "\e616";
}

.icon-angle-down:before {
  content: "\e614";
}

.icon-check:before {
  content: "\e615";
}

.icon-chevron-right:before {
  content: "\e613";
}

.icon-chevron-left:before {
  content: "\e612";
}

.icon-angle-left:before {
  content: "\e611";
}

.icon-qiehuanchanpin:before {
  content: "\e601";
}

.icon-shipin:before {
  content: "\e602";
}

.icon-tuijian-xing1:before {
  content: "\e603";
}

.icon-saoma:before {
  content: "\e604";
}

.icon-shaixuan:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-gengduo:before {
  content: "\e608";
}

.icon-mianliaomaidian:before {
  content: "\e609";
}

.icon-shoucang:before {
  content: "\e60a";
}

.icon-kefu:before {
  content: "\e60b";
}

.icon-tuijian-xing2:before {
  content: "\e60c";
}

.icon-chuanzhuomaidian:before {
  content: "\e60d";
}

.icon-shejimaidian:before {
  content: "\e60e";
}

.icon-gouwuche:before {
  content: "\e60f";
}

.icon-jiantouzuo:before {
  content: "\e610";
}

