$form-item-height: 36px;
$label-padding-right: 10px;

.search-form {
    position: relative;
    padding: 8px 0;
    border-radius: 0.5rem;
    border-width: 1px;

  .el-form {
    flex: 1;
    padding: 0 8px;
    display: grid;
    gap: 8px;
    max-height: calc($form-item-height * 3 + 20px); // 表单项高度3倍+间距
    overflow: auto;

    // &.el-form--responsive {
    //   @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
    // }

    // &.el-form--expand {
    //   @apply grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
    // }
  }

  .el-form-item {
    margin-bottom: 0;
  }

  .el-form-item__content {
    display: flex;
  }

  .el-form-item__label {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    line-height: 0;
    min-width: calc(4em + $label-padding-right);
  }

  .el-input {
      display: flex;
      overflow: hidden;
  }

  .el-input__prefix, .el-input__suffix, i {
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }

  .el-range__close-icon {
    position: absolute;
    right: 5px;
  }

  // 自适应宽度
  .el-date-editor, .el-select, .el-cascader {
      flex: 1;
  }

  .search-action {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      white-space: nowrap
  }

  .search-collapse {
      position: absolute;
      right: 8px;
      bottom: 1px;
      padding: 0 4px;
      border: 1px;
      border-top: 0;
      transform: translateY(100%);
      cursor: pointer;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #fff;
      user-select: none;
      z-index: 10;
  }

  .el-form-item__label {
    padding-right: $label-padding-right;
  }
}

// 折叠样式
.search-form.search-form--collapsed {
  display: flex;

  .el-form {
    overflow: hidden;
    height: $form-item-height;
  }

  .search-action {
    margin-top: 0;
    margin-right: 8px;
  }
}
